<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <listener>
        <listener-class>com.bizblock.user.database.ContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>CreateNewUserServlet</servlet-name>
        <servlet-class>com.bizblock.user.CreateNewUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginUserServlet</servlet-name>
        <servlet-class>com.bizblock.user.LoginUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuyStockServlet</servlet-name>
        <servlet-class>com.bizblock.user.BuyStockServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SellUserStockServlet</servlet-name>
        <servlet-class>com.bizblock.user.SellUserStockServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListOfUserStockServlet</servlet-name>
        <servlet-class>com.bizblock.user.ListOfUserStockServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateNewUserServlet</servlet-name>
        <url-pattern>/create-new-user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginUserServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuyStockServlet</servlet-name>
        <url-pattern>/buy-stocks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SellUserStockServlet</servlet-name>
        <url-pattern>/sell-stock</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListOfUserStockServlet</servlet-name>
        <url-pattern>/my-stocks</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
