<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <listener>
        <listener-class>com.dickens.database.ContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>CreateNewStudentServlet</servlet-name>
        <servlet-class>com.dickens.security.CreateNewStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.dickens.security.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateNewAdminServlet</servlet-name>
        <servlet-class>com.dickens.security.CreateNewAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayHomeServlet</servlet-name>
        <servlet-class>com.dickens.access.DisplayHomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateNewPinServlet</servlet-name>
        <servlet-class>com.dickens.access.CreateNewPinServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateNewCandidateServlet</servlet-name>
        <servlet-class>com.dickens.security.CreateNewCandidateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PinDataTable</servlet-name>
        <servlet-class>com.dickens.access.PinDataTable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageCandidate</servlet-name>
        <servlet-class>com.dickens.access.ManageCandidate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HandleElectionServlet</servlet-name>
        <servlet-class>com.dickens.election.HandleElectionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetCandidateDetailsServlet</servlet-name>
        <servlet-class>com.dickens.access.GetCandidateDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayChartServlet</servlet-name>
        <servlet-class>com.dickens.access.DisplayChartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.dickens.security.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>com.dickens.utils.UploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayTest</servlet-name>
        <servlet-class>com.dickens.utils.DisplayTest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserServlet</servlet-name>
        <servlet-class>com.dickens.upload.UpdateUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetElectionDateServlet</servlet-name>
        <servlet-class>com.dickens.election.SetElectionDateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateNewStudentServlet</servlet-name>
        <url-pattern>/create-new-student</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateNewAdminServlet</servlet-name>
        <url-pattern>/create-new-admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayHomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateNewPinServlet</servlet-name>
        <url-pattern>/create-new-pin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateNewCandidateServlet</servlet-name>
        <url-pattern>/create-new-candidate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PinDataTable</servlet-name>
        <url-pattern>/pin-datatable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageCandidate</servlet-name>
        <url-pattern>/manageCandidate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HandleElectionServlet</servlet-name>
        <url-pattern>/handle-election</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetCandidateDetailsServlet</servlet-name>
        <url-pattern>/get-details</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayChartServlet</servlet-name>
        <url-pattern>/display-chart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/upload-image</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayTest</servlet-name>
        <url-pattern>/display-test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserServlet</servlet-name>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetElectionDateServlet</servlet-name>
        <url-pattern>/set-election-date</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
